@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

header {
  min-height: 50px;
  width: 100%;
  background-color: #ff8001;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 40px;
}

.logo {
  max-width: 320px;
  margin-left: ;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 320px;
}

@media (max-width: 650px) {
  .logo {
    padding-top: 15px;
    width: 100%;
    margin: 0 auto;
  }
  
  header {
    flex-wrap: wrap;
  }
}

nav {
  width: 400px;
  margin-left: 40px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 650px) {
  nav {
    margin: 10px 0;
    width: 100%;  
  } 
  
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 390px) {
  nav ul {
    flex-direction: column;
  }
}

#banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-6/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 666px;
  padding: 15px;
}

#banner:after {
  content: '';
  background-color: rgba(255, 128, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;  
}

#banner h1 {
  display: block;
  position: relative;
  top: 150px;
  left: 0;
  z-index: 2;
  font-family: Creepster;
  font-size: 120px;
  line-height: 1;
  opacity: 0.7;
  max-width: 615px;
  margin: 0 auto;
  text-align: center;
}

#banner p {
  max-width: 630px;
  position: relative;
  top: 160px;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  color: #fff;
  opacity: 0.8;
  font-size: 22px;
  text-align: center;
  line-height: 1.8;
}

main {
  max-width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}

.guide {
  max-width: 650px;
  margin: 50px auto;
  text-align: center;
}

.guide h2 {
  color: #ff8001;
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 25px;
}

.guide p {
  font-size: 20px;
}

@media (max-width: 650px) {
  #banner h1 {
    font-size: 100px;
    top: 100px;
  }
  
  #banner p {
    font-size: 18px;
    top: 130px;
  }
  
  .guide h2 {
    font-size: 20px;
  }
  
  .guide p {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
 #banner h1 { 
    font-size: 80px;
  }
}

@media (max-width: 320px) {
 #banner h1 { 
    font-size: 70px;
  }
}

#colors {
  margin-bottom: 100px;
}

.fold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
}

.description {
  max-width: 280px;
  height: 472px;
  flex-shrink: 0;
}

.description p {
  margin: 25px 0;
  font-size: 14px;
}

.description img {
  max-width: 280px;
}

.r {
  color: #ff4867;
}

.color-illustration {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  height: 472px;
  width: 500px;
  justify-content: space-between;
  margin-left: 30px;
}

.color-illustration h4 {
  color: #9b9b9b;
}

.flex-item, .ligntness {
  width: 100%;
}

.hsl {
  display: flex;
  border: 4px solid #e6e6e6;
}

#colors h4 {
  margin-bottom: 15px;
}

.hsl div {
  min-height: 100px;
  width: 100%;
  border: 4px solid #e6e6e6;
  flex-shrink: 2;
}

@media (max-width: 750px) {
  .hsl div {
    min-height: 80px;
  }
  
  .color-illustration {
    margin-left: 15px;
  }
}

@media (max-width: 650px) {
  .hsl div {
    min-height: 50px;
  }
  
  .color-illustration {
    justify-content: space-evenly;
  }
  
  #colors h4 {
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {
  .fold {
    flex-direction: column;
    align-items: center;
  }
  
  .hsl div {
    min-height: ;
  }
  
  .color-illustration {
    height: 300px;
    width: 280px;
    margin-left: 0;
    margin-top: 25px;
  }
}

/* REDS */

.lr-1 {
  background-color: #ff4d6a;
}

.lr-2 {
  background-color: #ff002c;
}

.lr-3 {
  background-color: #b3011e;
}

.lr-4 {
  background-color: #660011;
}

.sr-1 {
  background-color: #ec1337;
}

.sr-2 {
  background-color: #d82744;
}

.sr-3 {
  background-color: #c63950;
}

.sr-4 {
  background-color: #b44d5e;
}

.hr-1 {
  background-color: #ff006a;
}

.hr-2 {
  background-color: #ff002c;
}

.hr-3 {
  background-color: #ff1600;
}

.hr-4 {
  background-color: #ff5601;
}

/* GREENS */

.g {
  color: #03ff2a;
}

.lg-1 {
  background-color: #92ff66;
}

.lg-2 {
  background-color: #48fe04;
}

.lg-3 {
  background-color: #2b9900;
}

.lg-4 {
  background-color: #0f3300;
}

.sg-1 {
  background-color: #1be63b;
}

.sg-2 {
  background-color: #34cc4c;
}

.sg-3 {
  background-color: #4db35e;
}

.sg-4 {
  background-color: #66996f;
}

.hg-1 {
  background-color: #34ff00;
}

.hg-2 {
  background-color: #03ff2a;
}

.hg-3 {
  background-color: #03ff88;
}

.hg-4 {
  background-color: #03ffe5;
}

/* BLUES */

.b {
  color: #0357fe;
}

.lb-1 {
  background-color: #6699ff;
}

.lb-2 {
  background-color: #0055fe;
}

.lb-3 {
  background-color: #013399;
}

.lb-4 {
  background-color: #001133;
}

.sb-1 {
  background-color: #1a5ee6;
}

.sb-2 {
  background-color: #3366cc;
}

.sb-3 {
  background-color: #4d6fb3;
}

.sb-4 {
  background-color: #667799;
}

.hb-1 {
  background-color: #00f;
}

.hb-2 {
  background-color: #0055fe;
}

.hb-3 {
  background-color: #05aaff;
}

.hb-4 {
  background-color: #03ffff;
}

footer {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-6/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 490px;
  padding: 15px;
}

footer:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

footer h1 {
  color: #ffffff;
  position: relative;
  top: 80px;
  left: 0;
  margin: 0 auto;
  max-width: 650px;
  z-index: 2;
  font-size: 45px;
  text-align: center;
}

footer p {
  color: #ffffff;
  position: relative;
  top: 100px;
  left: 0;
  margin: 0 auto;
  max-width: 640px;
  z-index: 2;
  text-align: center;
  font-size: 22px;
}

.btn {
  display: block;
  position: relative;
  top: 150px;
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  z-index: 2;
  text-align: center;
  font-size: 22px;
  padding: 15px 60px;
  background-color: #ff8001;
  color: #fff;
  border: none;
  border-radius: 5px;
}

@media (max-width: 650px) {
  footer h1 {
    font-size: 35px;
  }
  
  footer p {
    font-size: 18px;
  }
  
  .btn {
    font-size: 18px;
  }
}

